/* Layout container */
.MainCardImage {
  display: flex;
  flex-direction: column;
}

/* Centers the card */
.CardImage1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

/* Card styling */
.Historycard {
  width: 25rem;
  height: 40rem;
  box-shadow: 0px 1px 5px #040403;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2%;
  border-radius: 20px;
  min-height: 500px !important;
  max-height: 550px !important;
}

/* Image styling */
.cardimg {
  width: 80%;
  height: 55%;
  padding: 0;
}

/* Text container inside the card */
.Historycard-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
}

/* Responsive styles for mobile */
@media screen and (max-width: 600px) {
  .Historycard {
    width: 50%;
    height: 25rem;
    min-height: 300px !important;
    max-height: 350px !important;
  }

  .Historycard-body {
    font-size: 0.6rem;
    overflow-y: auto;
  }

  .Historycard-body h4 {
    font-size: 1rem;
  }

  .Historycard-body h6 {
    font-size: 0.7rem;
  }
}
