.Navbar {
  height: 60px;
  width: 100%;
  background-color: #ffefdf;
  position: fixed;
  box-shadow: 0 8px 16px rgba(0, 0.2, 0.2, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.Navbar h5{
  margin-top: 1%;
}