.Books {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.BooksContain {
  margin-top: -2.5%;
  margin-bottom: 2%;
}
.RareBookbtn{
  margin-bottom: 3% !important;
    margin-top: -3% !important;

}

.RareBookcard {
  flex: 1 1 45%;
  max-width: 350px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9 !important;
  border-radius: 20px !important;
  gap: 20px !important;
}

.RareBookcardText {
  font-weight: 0.5rem !important;
  padding: 2%;
}

.RareBookImg {
  margin-top: 2%;
  width: 100%;
  height: 300px !important;
  display: block;
  object-fit:contain;
  background: #f9f9f9;
  
}

.card-body {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9 !important;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.btn {
  margin-top: 10px;
  background-color: #f19460 !important;
  color: black !important;
}

@media (max-width: 600px) {
  .BooksContain {
    margin-top: -7%;
  }
  .RareBookcard {
    flex: 1 1 100%;
    max-width: 100%;
    min-height: auto;
    border-radius: 30px !important;
    margin-top: -2% !important;
    margin: 0 25px;
  }

  .card img {
    height: 160px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .RareBookcardText {
    font-size: 0.9rem;
  }
}
