.HeaderSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px !important;
}

.HeaderSection h1 {
  margin-top: 4.9% !important;
} 

.HeaderSection p{
  width: 55%;
}

.HeaderSection h6{
  text-transform: uppercase;
}

/* Responsive styles for Mobile screens < 600px */

@media (max-width: 600px) {
  .HeaderSection h1 {
    margin-top: 16%;
  }

  .HeaderSection p {
    width: 70%;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
